[submodule "translation/en"]
	path = translation/en
	url = git@github.com:formativ/rebuildinglaravel.git
[submodule "translation/ru"]
	path = translation/ru
	url = git@github.com:formativ/rebuildinglaravel-ru.git
